{{ partial "header.html" . }}
    <main>
      <nav>Turnstiles</nav>
      <article>

        <h2>Behind the Blue Line</h2>
        <summary>Edwin Raymond shares an inside look at life as an NYPD officer and ipsum dolor sit amet, consectetur adipiscing elit</summary>


        <ul>

          <li>
            <header>Part One</header>
            <q>Stay in the room</q>
            <aside>Coming Soon</aside>
          </li>

          <li>
            <header>Part Two</header>
            <q>I was going to jump</q>
            <aside>Coming Soon</aside>
          </li>

          <li>
            <header>Part Three</header>
            <q>People don’t want to do this</q>
            <aside>Coming Soon</aside>
          </li>

          <li>
            <header>Part Four</header>
            <q>So fuck ‘um</q>
            <aside>Coming Soon</aside>
          </li>

          <li>
            <header>Part Five</header>
            <q>We need better policy</q>
            <aside>Coming Soon</aside>
          </li>


        </ul>


      </article>
    </main>


{{ partial "footer.html" . }}
